@charset "utf-8";
.basic-post-webzine {
    overflow: hidden;
    line-height: 20px;
    padding:20px;
}

.basic-post-webzine .txt-normal {
    letter-spacing: 0;
    font-size:1.5em !important;
}

.basic-post-webzine .txt-short {
    letter-spacing: -1px;
    padding-right: 1px;
}

.basic-post-webzine .post-vicon {
    position: absolute;
    left: 6px;
    top: 6px;
    color: #fff;
    font-size: 20px;
    z-index: 1;
    text-shadow: 1px 1px 1px #000;
}

.basic-post-webzine .post-none {
    padding: 50px 10px;
    text-align: center;
    color: #888;
}

.basic-post-webzine .post-row {
    /* float: left;
    overflow: hidden; */
    width: 100%;
    height: 100%;
    min-height: 250px;
    background-color: #fff;
    border-radius: 1em;
    margin-bottom: 30px;
    box-shadow: 5px 10px 15px 4px rgba(0, 0, 0, 0.2);
    padding:20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-post-webzine .post-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.basic-post-webzine .post-list .media-body {
    width: 100%;
    height: 100%;
}
.basic-post-webzine .post-image {
    position: relative;
    overflow: hidden;
}

.basic-post-webzine .post-content {
    margin: 0px 0px -2px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.basic-post-webzine .post-subject {
    overflow: hidden;
    letter-spacing: -1px;
    padding-right: 1px;
    font-size:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.basic-post-webzine .post-subject a{
    font-size: 2rem;
	font-weight: 700;
}
.basic-post-webzine .post-subject span{
    display: none;
}
.basic-post-webzine .post-subject p{
    font-size: 1.5rem;
	font-weight: 500;
}
.basic-post-webzine .post-text {
    font-size: 0.8em;
    color: #888;
    padding:20px 0;
}
.basic-post-webzine .post-text.post-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic-post-webzine .post-text.post-title-wrap .post-icon-sec{
    display: flex;
    align-items: center;
}
.basic-post-webzine .post-text span{
    font-size: 2em;
    color: #555;
    margin-left: 10px;
}
.basic-post-webzine .post-text .post-user-icon{
    font-size:40px;
}
.basic-post-webzine .post-text .post-user-img{
    width:40px;
	height:40px;
	position: relative;
	border-radius: 2em;
}

.basic-post-webzine .post-sp {
    color: #ccc;
    margin: 0px 4px;
}

.is-pc .ko .basic-post-webzine .post-ko {
    font-size: 11px;
}
.basic-post-webzine .post-sub-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basic-post-webzine .post-sub-info span{
    font-size: 1.3em;
    color: #555;
}
.basic-post-webzine .post-sub-info .post-sub-info-goodBx span:not(:last-child){
    margin-right: 15px;
}
.basic-post-webzine .post-sub-info .post-sub-info-userBx{
    
}