@charset "utf-8";
/********************************************************
■ Basic : 기본
********************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,500italic,700,900,400italic,700italic');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* 09.22 아리따부리 폰트 헤더 적용 by LHG */

@font-face {
	font-family: 'arita-buri';
	src: url('../../../../fonts/Arita-buriB.ttf') format('truetype');
}

body {
	font-family: 'Noto Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
	color: rgb(51, 51, 51);
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

body.is-pc .ko {
	font-size: 12px;
}

a {
	color: rgb(51, 51, 51);
	cursor: pointer;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #783e94;
	text-decoration: none;
}

fieldset legend {
	display: none;
}

label {
	font-weight: normal;
}

label.checkbox, label.radio {
	line-height: 12px;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
	display: block;
}

blockquote {
	font-size: 12px;
	margin: 0px 0px 20px;
}

.en, h1, h2, h3, h4, h5, h1 a, h2 a, h3 a, h4 a, h5 a {
	font-family: 'Noto Sans', sans-serif;
}

.ko, .ko small {
	font-family: 'Noto Sans', sans-serif;
}

.sns-share-icon img {
	width: 20%;
	max-width: 34px;
	border-radius: 50%;
}

/********************************************************
■ Layout : 레이아웃
********************************************************/

.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #fff;
}

.at-container {
	margin: 0px auto;
	padding: 0px;
}

#globalHeader {
	position: sticky;
	top: 0px;
	background: rgb(255, 255, 255);
	width: 100%;
	z-index: 9999;
}

.header-wrap {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.is-pc .at-body {
	min-height: 600px;
}

.at-body .at-container {
	padding: 0px 15px;
	overflow: hidden;
}

/* .at-body .swiper{
	margin-bottom: 8rem;
} */

.boxed.wrapper .at-body .at-container {
	padding: 0px 20px;
}

.at-content {
	position: relative;
	padding: 20px 0px;
}

.at-row {
	margin-left: -15px;
	margin-right: -15px;
}

.at-col {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.nav-fixed .at-menu {
	width: 100%;
	z-index: 10;
	left: 0px;
	-webkit-transition: height .4s ease, opacity .3s ease;
	-o-transition: height .4s ease, opacity .3s ease;
	transition: height .4s ease, opacity .3s ease;
}

@media all and (max-width:991px) {
	.responsive .at-body .at-container {
		padding: 0px 10px !important;
	}
	.responsive .at-body .at-row {
		margin-left: 0px;
		margin-right: 0px;
	}
	.responsive .at-body .at-col {
		padding-left: 0px;
		padding-right: 0px;
	}
	.responsive .pull-right.at-main, .responsive .pull-left.at-side {
		float: none !important;
	}
}

/********************************************************
■ LNB : 최상단의 즐겨찾기, RSS, 로그인, 회원가입 영역
********************************************************/

.at-lnb {
	border-bottom: 1px solid rgb(238, 238, 238);
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0px auto;
	border-bottom: 0.0625rem solid rgb(215, 215, 215);
	padding: 0.75rem 2rem;
	width: 100%;
}

.en .at-lnb {
	font-size: 12px;
}

.at-lnb .lnb-left {
	width: 50%;
}

.at-lnb .lnb-left ul {
	list-style: none;
	margin: 0px;
	padding: 10px 0px 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.at-lnb .lnb-right ul {
	list-style: none;
	margin: 0px;
	padding: 10px 0px 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.at-lnb ul>li {
	padding: 0px 15px;
}

.at-lnb .lnb-right {
	width: 50%;
}

/* .at-lnb ul>li:last-child::after {
	content: "";
	margin-right: 0px;
} */

.at-lnb ul>li>a {
	color: #333;
	float: left;
}

@media all and (max-width:991px) {
	.responsive .at-lnb .at-container {
		display: none;
		visibility: visible;
	}
	.responsive .at-lnb {
		display: none;
		visibility: visible;
	}
}

/********************************************************
■ PC Header : PC 헤더 
********************************************************/

.pc-header {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 0px auto;
	border-bottom: 0.0625rem solid rgb(215, 215, 215);
	padding: 0.75rem 1.75rem;
}

.pc-header .lnb-right {
	position: relative;
	width: auto;
}

.pc-header .lnb-right ul {
	list-style: none;
	margin: auto;
	padding: 10px 0px 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.pc-header ul>li {
	padding: 0px 15px;
}

.pc-header ul li a {
	font-size: 1.1em;
}

.pc-header ul>li:not(:last-child) {
	padding: 0px 15px;
}

.pc-header .header-logo {
	display: block;
	padding: 0px 15px;
}

.pc-header .header-logo a {
	font-size: 44px;
	line-height: 44px;
	/* font-family: 'Noto Sans', sans-serif; */
	font-family: 'arita-buri';
	font-weight: 700;
	color: #783e94;
}

.pc-header .header-logo a:hover {
	color: #783e94;
}

.pc-header .header-logo img {
	display: block;
	max-width: 100%;
	max-height: 60px;
}

.pc-header .header-desc {
	display: block;
	font-size: 12px;
	letter-spacing: -1px;
	color: #888;
	margin-top: 2px;
}

.pc-header .header-search {
	display: flex;
	flex-direction: column;
	position: relative;
	margin: auto;
	width: auto;
}

.pc-header .header-search form {
	width: 44rem;
	position: relative;
	margin: auto;
	display: flex;
	background-color: rgb(255, 255, 255);
}

.input-group {
	width: 100%;
	display: flex;
	position: relative;
}

.pc-header .header-search input {
	width: 100%;
	height: 3rem;
	border-radius: 0.25rem;
	margin: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	border-color: rgb(175, 175, 175);
}

.pc-header .header-search .btn {
	color: #fff !important;
	background: #111 !important;
}

.pc-header .header-keyword {
	padding-top: 4px;
}

.en .pc-header .header-keyword {
	font-size: 12px;
}

/* 스크롤 부분 */

.header-active {}

@media all and (max-width:991px) {
	.responsive .pc-header {
		display: none;
	}
}

/********************************************************
■ Mobile Header : 모바일 헤더 
********************************************************/

.m-header {
	display: none;
	background: rgb(50, 60, 70);
}

.m-header a {
	color: #fff
}

.m-header .at-container {
	padding: 0px;
}

.m-header .header-wrap {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin: 0px;
	min-width: 300px;
	border-collapse: collapse;
}

.m-header .header-icon, .m-header .header-logo {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}

.m-header .header-icon {
	width: 44px;
}

.m-header .header-icon a {
	display: block;
}

@media all and (max-width:991px) {
	.responsive .m-header {
		display: block;
	}
}

/********************************************************
■ PC Menu : PC 메뉴바 배경설정
********************************************************/

.pc-menu {
	position: relative;
	background: rgb(255, 255, 255);
	width: 100%;
	z-index: 2;
	box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
}

.pc-menu .at-container {
	position: relative;
	width: 100%;
	display: flex;
	justify-items: flex-start;
}

.pc-menu .sub-slide, .pc-menu .sub-shows {
	display: none;
	visibility: visible;
}

.pc-menu .sub-icon::after {
	font-family: "FontAwesome";
	float: right;
	position: relative;
	content: "\f105";
}

.pc-menu .menu-a {
	font-size: 15px;
	font-family: 'Noto Sans', sans-serif;
}

.pc-menu .nav-home .menu-a {
	font-size: 20px;
}

.pc-menu .nav-right {
	font-size: 16px;
}

@media all and (max-width:991px) {
	.responsive .pc-menu, .responsive .pc-menu-all {
		display: none;
	}
}

/********************************************************
■ PC Menu Top : PC 상단 좌측/배분 스타일 메뉴
********************************************************/

/* 배분 스타일 */

.pc-menu .nav-top.nav-both .menu-ul {
	display: table;
	width: 100%;
	table-layout: fixed;
	margin: 0px;
}

.pc-menu .nav-top.nav-both .menu-li {
	display: table-cell;
	vertical-align: top;
}

.pc-menu .nav-top.nav-both .menu-a {
	padding: 0px;
	text-align: center;
}

.pc-menu .nav-top.nav-both .sub-1div::before {
	left: 50%;
	margin-left: -8px;
}

.pc-menu .nav-top.nav-both .sub-1div {
	position: relative;
}

/* 좌측 스타일 */

.pc-menu .nav-top.nav-float .menu-ul {}

.pc-menu .nav-top.nav-float .menu-li {
	float: left;
}

.pc-menu .nav-top.nav-float .sub-1div {
	position: absolute;
}

/* 공통 스타일 */

.pc-menu .nav-top {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	width: 100%;
}

.pc-menu .nav-top .menu-a {
	display: block;
	color: #000;
	background: #fff;
	font-weight: bold;
}

.pc-menu .nav-top .menu-li:hover .menu-a, .pc-menu .nav-top .menu-li.on .menu-a {
	background: #333;
	color: #fff;
}

.pc-menu .nav-top .menu-li.nav-home {
	width: 60px !important;
	text-align: center;
}

.pc-menu .nav-top .menu-li.nav-home .menu-a {
	padding: 0px;
}

.pc-menu .nav-top .new {
	color: rgb(140, 195, 70);
}

.pc-menu .nav-top .sub-1div::before {
	top: -8px;
	border-width: 0 8px 8px;
	border-color: #fff transparent;
	display: block;
	width: 0px;
	content: "";
	position: absolute;
	border-style: solid;
}

.pc-menu .nav-top .sub-1div {
	background: #fff;
	border-top: 3px solid #fff;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.pc-menu .nav-top .sub-1dul, .pc-menu .nav-top .sub-1dli {
	position: relative;
}

.pc-menu .nav-top .sub-1da {
	display: block;
	color: #000;
	padding: 5px 12px;
	line-height: 22px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.pc-menu .nav-top .sub-1dli.on .sub-1da, .pc-menu .nav-top .sub-1dli:hover .sub-1da {
	color: #fff;
	font-weight: bold;
	background: #333;
	/* border-color: orangered; */
}

.pc-menu .nav-top .sub-1new {
	color: rgb(140, 195, 70);
}

.pc-menu .nav-top .sub-1line {
	position: relative;
	display: block;
	color: #000;
	padding: 5px 12px;
	font-weight: bold;
	background: #fafafa;
	line-height: 22px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.pc-menu .nav-top .sub-2div {
	left: 100%;
	top: 0;
	background: #fff;
	position: absolute;
	z-index: 20;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.pc-menu .nav-top .sub-2dul {}

.pc-menu .nav-top .sub-2dli {}

.pc-menu .nav-top .sub-2da {
	display: block;
	color: #000;
	padding: 5px 12px;
	line-height: 22px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.pc-menu .nav-top .sub-2dli.on .sub-2da, .pc-menu .nav-top .sub-2dli:hover .sub-2da {
	color: #fff;
	font-weight: bold;
	background: orangered;
	border-color: orangered;
}

.pc-menu .nav-top .sub-2new {
	color: rgb(140, 195, 70);
}

.pc-menu .nav-top .sub-2line {
	display: block;
	color: #000;
	padding: 5px 12px;
	font-weight: bold;
	background: #fafafa;
	line-height: 22px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

/********************************************************
■ PC Right Icon Menu : PC 우측 아이콘 메뉴
********************************************************/

.pc-menu .nav-right {
	background: #111;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 11;
}

.pc-menu .nav-right>ul {
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.pc-menu .nav-right>ul>li {
	float: left;
	position: relative;
	width: 42px;
}

.pc-menu .nav-right>ul>li>a {
	color: #fff;
	display: block;
	text-align: center;
}

.pc-menu .nav-right>ul>li>a:hover {
	background: #333;
}

.pc-menu .nav-right .label {
	position: absolute;
	top: 15%;
	right: 7px;
	text-align: center;
	font-size: 9px;
	font-weight: 300;
	padding: 2px 3px;
	line-height: 0.9;
	border-radius: .25em !important;
}

.pc-menu .nav-rw {
	width: 170px;
}

/********************************************************
■ PC All Menu : 전체 메뉴
********************************************************/

.swiper {
	width: 100%;
	height: 600px;
}

.pc-menu-all {
	position: absolute;
	background: #fafafa;
	z-index: 2;
	-webkit-box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px -10px 10px -10px rgba(0, 0, 0, 0.2);
	width: 100%;
}

.pc-menu-all .collapsing {
	-webkit-transition: none;
	transition: 0.5s ease;
}

.pc-menu-all .at-container {
	padding: 20px 15px 0px;
}

.pc-menu-all .table {
	margin-bottom: 20px !important;
}

.pc-menu-all .table td {
	width: 1%;
	background: #fff;
	border: 1px solid #ddd;
	padding: 0px;
	line-height: 20px;
}

.pc-menu-all .menu-a {
	display: block;
	color: #000;
	padding: 6px 12px;
	background: #f5f5f5;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	text-align: center;
}

.pc-menu-all .table td.on .menu-a {
	color: crimson;
}

.pc-menu-all .sub-1div {
	padding: 8px 0px;
}

.pc-menu-all .sub-1dul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.pc-menu-all .sub-1dli .sub-1da {
	display: block;
	padding: 2px 12px;
	color: #333;
}

.pc-menu-all .sub-1dli.on .sub-1da, .pc-menu-all .sub-1dli:hover .sub-1da {
	color: crimson;
}

.pc-menu-all .new {
	color: rgb(140, 195, 70);
}

.pc-menu-all .new-sub1 {
	color: rgb(140, 195, 70);
}

.pc-menu-all .sub-1line {
	display: block;
	color: #000;
	padding: 5px 12px;
	margin: 4px 0px;
	font-weight: bold;
	background: #fafafa;
}

.pc-menu-all .menu-all-btn {
	text-align: center;
}

/********************************************************
■ Mobile Menu : 모바일 메뉴
********************************************************/

.m-menu {
	display: none;
	overflow: hidden;
	background: #fff;
	position: relative;
	z-index: 20;
	box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-webkit-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
	-moz-box-shadow: 0px 5px 5px -2px rgba(25, 25, 25, 0.15);
}

.m-menu .m-wrap {}

.m-menu .m-table {
	display: table;
	width: 100%;
	table-layout: fixed;
	width: 100%;
	margin: 0px;
	min-width: 300px;
	border-collapse: collapse;
}

.m-menu .m-icon, .m-menu .m-list {
	display: table-cell;
	vertical-align: middle;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	border: 1px solid #eee;
	border-top: 0px;
	border-bottom: 0px;
}

.m-menu .m-icon {
	width: 44px;
	text-align: center;
	font-size: 18px;
}

.m-menu .m-icon a {
	display: block;
	position: relative;
}

.m-menu .m-icon .label {
	position: absolute;
	top: 15%;
	right: 5px;
	text-align: center;
	font-size: 9px;
	font-weight: 300;
	padding: 2px 3px;
	line-height: 0.9;
	border-radius: .25em !important;
}

.m-menu .m-nav {
	overflow: hidden;
	margin: 0px 10px;
}

.m-menu .m-nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.m-menu .m-nav ul li {
	display: table-cell;
	padding: 0px 10px;
	white-space: nowrap;
}

.m-menu .m-nav ul li.active a {
	color: orangered;
	font-weight: bold;
}

.m-menu .m-sub {
	background: #fafafa;
	border-top: 1px solid #ddd;
	font-size: 15px;
	height: 44px;
	line-height: 44px;
	padding: 0px 10px;
}

.m-menu .m-nav-sub {
	width: 100%;
	overflow: hidden;
	margin: 0px;
}

.m-menu .m-nav-sub ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.m-menu .m-nav-sub ul li {
	display: table-cell;
	padding: 0px 10px;
	white-space: nowrap;
}

.m-menu .m-nav-sub ul li.active a {
	color: orangered;
	font-weight: bold;
}

@media all and (max-width:991px) {
	.responsive .m-menu {
		display: block;
	}
}

/********************************************************
■ Page Title : 페이지 타이틀 및 설명글
********************************************************/

.at-title {
	height: 80px;
	position: relative;
	color: #000;
	background-color: #fafafa;
	border-bottom: 1px solid #dfdfdf;
}

.at-title .at-container {
	height: 100%;
	position: relative;
}

.at-title .page-title {
	font-size: 24px;
	position: absolute;
	left: 20px;
	bottom: 15px;
	z-index: 1;
}

.at-title .page-desc {
	color: #888;
	position: absolute;
	right: 20px;
	bottom: 10px;
	z-index: 1;
}

@media all and (max-width:767px) {
	.responsive .at-title {
		height: 50px;
	}
	.responsive .at-title .page-title {
		font-size: 20px;
		left: 15px;
		bottom: 10px;
	}
}

/********************************************************
■ main-slider : 메인 슬라이더 부분
********************************************************/

.main-slider {
	margin-bottom: 150px;
}

.main-slider .swiper-button-next, .main-slider .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.main-slide-img-1 {
	width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}

.main-slide-content-wrap {
	position: relative;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	height: 100%;
	-webkit-box-pack: center;
	justify-content: center;
	padding: 8rem 0px;
}

.main-slide-content {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	padding: 0px 1rem;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.asd1 {
	margin-bottom: 22px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 3.2rem;
	line-height: 1.3;
	color: #fff;
}

.asd2 {
	margin-bottom: 1.5rem;
	max-width: 90rem;
	font-size: 1.5em;
	line-height: 1.2;
}

.asd3 {
	display: block;
	border: 1px solid #000;
	padding: 15px 35px;
	color: #000;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	border-radius: 10px;
	margin: 0 auto;
}

.asd3:hover {
	background-color: #000;
	color: #fff;
	transition: 0.5s ease-in-out;
}

.swiper-slide:after {
	z-index: 777;
	content: '';
	position: absolute;
	background: rgba(57, 53, 52, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/********************************************************
■ main-category : 메인 카테고리 article
********************************************************/

.main_category_wrap {
	width: 100%;
	height: 500px;
	position: relative;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 150px;
}

.main_category_sec1 {
	width: 50%;
	height: 100%;
	margin: 0 10px 0 0;
	background: url('../../assets/img/daily.jpg') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_category_sec2 {
	width: 50%;
	height: 100%;
	margin: 0 0 0 10px;
	display: flex;
	flex-direction: column;
}

.main_category_sec2 .main_category_things {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50%;
	margin: 0 0 10px 0;
}

.main_category_sec2 .main_category_electronics {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../../assets/img/electronics3.jpg') no-repeat;
	background-size: cover;
	margin: 0 10px 0 0;
}

.main_category_sec2 .main_category_books {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../../assets/img/books.jpg') no-repeat;
	background-size: cover;
	margin: 0 0 0 10px;
}

.main_category_sec2 .main_category_accesories {
	height: 50%;
	margin: 10px 0 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../../assets/img/accessories.jpg') no-repeat;
	background-size: cover;
	background-position: 50% 30%;
}

.main_category_wrap .main_category_title {
	display: block;
	background-color: #fff;
	padding: 15px 35px;
	color: #000;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	margin: 0 auto;
	text-transform: uppercase;
}

.main_category_wrap .main_category_title:hover {
	background-color: #000;
	color: #fff;
	transition: background 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}

/********************************************************
■ main_introduce : 메인 sellnus 설명
********************************************************/

.main_introduce_wrap {
	position: relative;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 150px;
	width: 100%;
	height: 100%;
}

.main_introduce_content_sec {}

.main_introduce_content_sec h1 {
	margin: 0 0 20px 0;
	font-weight: bold;
	font-size: 3em;
	line-height: 1.5;
	color: rgb(38, 38, 38);
}

.main_introduce_content_sec p {
	margin-bottom: 2rem;
	max-width: 55rem;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0 20px 20px 0;
	color: rgb(38, 38, 38);
}

.main_introduce_img_sec {
	position: relative;
	height: 500px;
}

.main_introduce_img_con {
	position: relative;
	height: 100%;
}

.main_introduce_img {
	display: block;
	max-height: 500px;
}

.main_introduce_content_sec a {
	display: inline-block;
	padding: 1.5rem 2.5rem;
	text-decoration: none;
	background-color: #000;
	border: 0.0625rem solid #000;
	border-radius: 0.125rem;
	color: #fff;
	cursor: pointer;
	font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 1.125;
	text-align: center;
	outline: 0px;
	transition: background 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
}

.main_introduce_content_sec a:hover {
	background: #fff;
	border: 0.0625rem solid #000;
	color: #000;
}

.main_introduce_reverse_wrap {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 150px;
	width: 100%;
	height: 100%;
}

/********************************************************
■ widget-box : 메인 상품목록 관련
********************************************************/

.widget-box-content-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 150px;
}

.widget-box-content-wrap h1, p {
	padding: 0;
	margin: 0;
}

.widget-box-content-wrap p {
	font-size: 1.2em;
	font-weight: 700;
	color: #333;
}

/********************************************************
■ main_form : 메인 form 설명
formspree
********************************************************/

.main_form_wrap {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	flex-direction: column;
	align-items: center;
	margin: 125px 0;
	height: 100%;
}

.main_form_sec {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-color: #b7a7ee;
}

/********************************************************
■ main_instagram : 메인 instagram 설명

instagram api
********************************************************/

.main_instagram_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 125px 0;
	height: 100%;
}

.main_instagram_intro_sec {
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-color: #b7a7ee;
}

.main_instagram_image_sec {
	width: 100%;
	height: 100%;
}

.main_instagram_intro_sec .main_instagram_icon {
	color: #fff;
	font-size: 6em;
	margin-bottom: 1.5rem;
}

.main_instagram_intro_sec p {
	color: #fff;
	font-size: 3em;
}

.main_instagram_img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

/********************************************************
■ myshop : 내상점 수정
********************************************************/

.myshop-panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/********************************************************
■ community-header : 커뮤니티 헤더
********************************************************/

.main_commu_body {
	background-color: #f9f9f9;
}

/********************************************************
■ community-main : 커뮤니티 메인
********************************************************/

.main_commu_left_side {
	background-color: #f1e7f5;
	border-radius: 2em;
	height: 100%;
	min-height: 100%;
}

.main_left_side_searchbx {
	display: flex;
	flex-direction: column;
	border-radius: 2em;
	margin: 30px 0 50px 0;
}

.main_left_side_searchbx form {
	width: 95%;
	position: relative;
	margin: auto;
	display: flex;
}

.main_left_side_searchbx form input {
	height: 45px;
	width: 100%;
	display: block;
	border: 2px solid #783e94;
	border-radius: 2em;
	font-size: 14px;
}

.main_left_side_searchbx form .search_icon {
	position: absolute;
	top: 0.8rem;
	right: 0.5rem;
	color: #783e94;
	z-index: 888;
}

.main_left_side_searchbx form .search_icon button {
	background-color: transparent !important;
}

.main_left_side_board_wrap {
	padding: 0 10px;
}

.main_left_side_board_wrap .title {
	font-size: 2.2em;
	color: #783e94;
	margin-bottom: 20px;
}

.main_left_side_board_wrap .categoryBx {
	margin-bottom: 50px;
}

.main_left_side_board_wrap .categoryBx ul {
	display: block;
	padding: 0 0 0 15px;
}

.main_left_side_board_wrap .categoryBx ul li {
	font-size: 1.5em;
	line-height: 2.3em;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}

.main_left_side_board_wrap .categoryBx ul li span {
	font-size: 0.85rem;
}

.main_left_side_board_wrap .categoryBx ul li a {
	display: flex;
	transition: 0.3s ease;
	text-decoration: none;
	position: relative;
	color: #000;
	font-size: 1em;
	text-decoration: none;
	transition: 0.3s ease;
}

.main_left_side_board_wrap .categoryBx ul li a:before {
	display: block;
	z-index: 888;
	content: '';
	position: absolute;
	background: #783e94;
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	transition: 0.3s ease;
}

.main_left_side_board_wrap .categoryBx ul li a:hover:before {
	width: 100%;
}

.main_left_side_board_wrap .main_commu_left_img_wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.main_left_side_board_wrap .main_commu_left_img_wrap p {
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 15px;
}

.main_left_side_board_wrap .main_commu_left_img_wrap .main_commu_left_shop_img {
	width: auto;
	position: relative;
	height: 100%;
	max-height: 200px;
	object-fit: cover;
}

.main_left_side_board_wrap .main_commu_left_img_wrap .main_commu_left_btn {
	display: flex;
	padding: 10px 20px;
	background-color: #783e94;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.main_left_side_board_wrap .main_commu_left_img_wrap .main_commu_left_btn:hover {
	border: 1px solid #783e94;
	background-color: transparent;
	color: #000;
	transition: 0.3s ease-in-out;
}

.main_center_header_wrap {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.main-center-board-wrap {
	padding: 20px;
}

.main_right_side_mywrite_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* border:1px solid #783e94; */
	border-radius: 0.5em;
	padding: 10px;
	width: 100%;
	position: relative;
}

.main_right_side_mywrite_wrap .main_right_side_myInfoBx {
	width: 100%;
	padding: 0;
	margin: 0;
}

.main_right_side_mywrite_wrap .main_right_side_myInfoBx li {
	list-style: none;
	text-align: left;
}

.main_right_side_mywrite_wrap .main_right_side_myInfoBx li a {
	display: flex;
	justify-content: flex-start;
	padding: 10px 10px 10px 15px;
	background-color: #f1e7f5;
	border-radius: 3px;
	line-height: 25px;
	color: #000;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}

.main_right_side_mywrite_wrap ul li:not(:last-child) {
	margin-bottom: 10px;
}

.main_right_side_mywrite_wrap .main_right_tags_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	/* border:1px solid #783e94; */
	border-radius: 0.5em;
	width: 100%;
	position: relative;
	margin-top: 30px;
}

.main_right_side_mywrite_wrap .main_right_tags_wrap p {
	font-size: 1.2em;
	color: #783e94;
	text-align: left;
	width: 100%;
	margin-bottom: 15px;
}

.main_right_side_mywrite_wrap .main_right_side_tagsBx {
	width: auto;
	padding: 0;
	margin: 0;
}

.main_right_side_mywrite_wrap .main_right_side_tagsBx li {
	list-style: none;
	text-align: left;
}

.main_right_side_mywrite_wrap .main_right_side_tagsBx li a {
	display: flex;
	justify-content: flex-start;
	padding: 10px 10px 10px 15px;
	width: 100%;
	background-color: #e8e8e8;
	border-radius: 3px;
	line-height: 25px;
	color: #000;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}

/********************************************************
■ community-main : 커뮤니티 메인
********************************************************/

.main_commu_wrap {
	/* margin: 50px 0; */
}

.main_commu_tit {
	font-size: 2.3em;
	font-weight: 600;
	margin-bottom: 40px;
	text-transform: uppercase;
	background-color: #fff;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
}

.main_commu_tit1 {
	width: 100%;
	max-width: 1200px;
	line-height: 70px;
}

.board-list {
	width: 100%;
	height: 100%;
}

.list-btn-box {}

.list-wrap {
	height: 100%;
}

.list-wrap .form .table-responsive table {
	border-collapse: separate;
}

.list-wrap .form .table-responsive table tbody tr {
	padding: 50px 0;
}

.list-wrap .form .table-responsive table tbody td {
	padding: 50px 0;
}

.spec_commu_board_wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 200px;
	margin-bottom: 20px;
	background-color: #fff;
	border-radius: 2em;
	padding: 20px 20px;
	box-shadow: 5px 10px 10px 4px rgb(0 0 0 / 20%);
}

.spec_commu_board_wrap:not(:last-child) {
	margin-bottom: 30px;
}

.spec_commu_board_wrap .spec_commu_user_sec {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #888;
}

.spec_commu_board_wrap .spec_commu_user_sec .spec_commu_user_box .spec_commu_user_img {
	width: 30px;
	height: 30px;
	position: relative;
	border-radius: 2em;
}

.spec_commu_board_wrap .spec_commu_user_sec .spec_commu_user_box {
	display: flex;
	align-items: center;
}

.spec_commu_board_wrap .spec_commu_user_sec .spec_commu_user_box .spec_commu_user {
	font-size: 1.5em;
	margin-left: 10px;
}

.spec_commu_board_wrap .spec_commu_user_sec .spec_commu_user_date {
	font-size: 1.1em;
}

.spec_commu_board_wrap .spec_commu_subject_sec {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.spec_commu_board_wrap .spec_commu_subject_sec .spec_commu_subject_title {
	font-size: 2em;
	font-weight: 700;
}

.spec_commu_board_wrap .spec_commu_subject_sec .spec_commu_subject_content {
	font-size: 1.5em;
	font-weight: 500;
	color: #666;
}

.spec_commu_board_wrap .post-row {
	width: 100%;
	height: 100%;
	min-height: 250px;
	background-color: #fff;
	border-radius: 1em;
	margin-bottom: 30px;
	box-shadow: 5px 10px 15px 4px rgb(0 0 0 / 20%);
	padding: 20px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table-responsive .spec_commu_href {
	display: block;
	width: 100%;
	height: 100%;
}

.spec_commu_sub_info_sec {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/********************************************************
■ Footer : 하단 푸터
********************************************************/

.at-footer {
	width: 100%;
	height: 100%;
	background-color: #fff;
	line-height: 1em;
}
/* .at-footer .footer_container::before {
	content: '';
	position: absolute;
	width: 1200px;
	height: 100px;
	left: 50%;
	top: -142px;
	z-index: 0;
	background-color: #783e94;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 2px solid transparent;
	border: 0 solid transparent;
	border-width: 1px 0;
	-webkit-transform: translate(-50%, 0) skewY(-8.2deg);
	-ms-transform: translate(-50%, 0) skewY(-8.2deg);
	transform: translate(-50%, 0) skewY(-8.2deg);
} */
.at-footer::after{
	clear: both;
    content: "";
    display: block;
}
.at-footer .footer_container {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: relative;
}
.at-footer .footer_container:first-child{
	background-color: #783e94;
    overflow: hidden;
    padding-bottom: 50px;
}
.at-footer .footer_container:first-child::after{
	background-color: #783e94;
    border-bottom: 50px solid #fff;
    border-left: 100vw solid transparent;
    content: "";
}
.at-footer .container_inner {
    max-width: 120rem;
    padding: 0 0;
	margin: 0 auto;
}
.at-footer .footer_menu_links_sec{
    display: flex;
    background-color: #783e94;
    float: left;
    padding: 4rem 0 1.2rem;
    white-space: nowrap;
    width: 50%;
}
.at-footer .footer_menu_links_sec .footer_linksBx{
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
	padding: 0 10px;
}
.at-footer .footer_menu_links_sec .footer_linksBx a {
	display: block;
	width: 100%;
	cursor: pointer;
    color: #fff;
    padding: 0.75rem 0;
    position: relative;
    text-align: left;
}
.at-footer .footer_menu_links_sec .footer_linksBx a.tit {
	font-size:1.5em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 0.75rem;
}

.at-footer .footer_menu_social_sec{
	background-color: #783e94;
    float: right;
    max-width: 120em;
    padding: 4rem 0 1.2rem;
    width: 50%;
}
.footer_menu_social_sec .contact_link {
	display: block;
	width: 100%;
	padding: 0.75rem 0;
	margin-bottom: 0.75rem;
    color: #fff;
	font-size:1.5em;
	font-weight: 700;
	text-transform: uppercase;
    text-align: right;
}
.footer_contentsBx {
    width: 100%;
}
.footer_menu_social_sec .footer_icon_linksBx {
	display: flex;
    justify-content: flex-end;
}
.footer_menu_social_sec .footer_icon_linksBx .icon_link{
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 1.5em;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	color:#fff;
	background-color: rgb(0 0 0 / 20%);
	padding:10px;
}
.footer_menu_social_sec .footer_icon_linksBx .icon_link:not(:last-child){
	margin-right:10px;
}
/* .footer_menu_social_sec .footer_icon_linksBx .icon_link:last-child{
	padding:10px 0 10px 10px;
} */
/* .footer_menu_social_sec .icon_link:first-of-type {
    padding-left: 0;
} */
.at-footer a {
    display: inline;
    font-weight: 100;
    text-decoration: none;
}
.at-footer a:hover {
    color:#fff !important;
}

.at-footer .footer_container:nth-child(2) {
	background-color: #fff;
}
.at-footer .footer_logo{
	font-size: 2em;
    line-height: 2em;
    font-family: 'arita-buri';
    font-weight: 700;
    color: #783e94;
}
.at-footer .footer_container:nth-child(2) .foot_copyright{
	float: right;
    padding-bottom: 3.78571rem;
    transform: translateY(-6px);
    width: 25rem;
	text-align: right;
}
/* custom footer end */

.en .at-footer .at-links {
	font-size: 12px;
	
}

.at-footer .at-links {
	background: #fff;
	padding: 8px 0px;
	border: 1px solid #ddd;
	border-left: 0px;
	border-right: 0px;
}

.at-footer .at-links ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.at-footer .at-links ul>li {
	float: left;
	padding: 0px 15px;
}

.at-footer .at-links ul>li::after {
	float: right;
	color: #ccc;
	content: "/";
	margin-right: -17px;
}

.at-footer .at-links ul>li:last-child::after {
	content: "";
}

.at-footer .at-links ul>li>a {
	color: #888;
}

@media all and (max-width:991px) {
	.responsive .at-footer .at-links ul.pull-left {
		display: none;
	}
	.responsive .at-footer .at-links ul.pull-right {
		float: none !important;
		text-align: center;
	}
	.responsive .at-footer .at-links ul.pull-right>li {
		float: none;
		display: inline-block;
	}
}

/* YC5 */

.en .at-footer .at-infos {
	font-size: 12px;
}

.at-footer .at-infos .media {
	padding: 15px 20px 20px;
}

.at-footer .at-infos .pull-left {
	font-size: 70px;
	color: #ddd;
}

.at-footer .at-infos .copyright {
	float: left;
	margin-left: 10px;
}

.at-footer .at-infos .copyright span {
	color: #888;
}

.at-footer .at-about {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.at-footer .at-about .at-about-logo {
	font-size: 44px;
	line-height: 44px;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	color: #000;
}

.at-footer .at-about>li {
	float: left;
	padding: 0px 15px;
	color: #000;
}

.at-footer .at-about>li>a {
	color: #888;
}

.at-footer .at-help {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}

.at-footer .at-help:after {
	display: block;
	visibility: hidden;
	clear: both;
	content: ""
}

.at-footer .at-help>li {
	float: left;
	padding: 0px 15px;
}

.at-footer .at-help>li::after {
	float: right;
	font-size: 12px;
	color: #ddd;
	content: "|";
	margin-right: -17px;
}

.at-footer .at-help>li:last-child::after {
	content: "";
}

.at-footer .at-help>li>a {
	float: left;
}

@media all and (max-width:767px) {
	.responsive .at-footer .at-infos .media {
		padding: 15px 0px 20px;
		text-align: center;
	}
	.responsive .at-footer .at-infos .copyright {
		float: none;
		margin: 0px;
	}
}

/* G5 */

.at-footer .at-copyright {
	text-align: center;
	padding: 15px 0px;
	color: #888;
}

.at-footer .at-copyright strong {
	color: #333;
}

/********************************************************
■ Go Top & Bottom : 상단/하단 이동버튼
********************************************************/

.at-go .go-btn {
	display: none;
	position: fixed;
	width: 40px;
	bottom: 20px;
	right: 25px;
	z-index: 2;
}

.at-go .go-btn span {
	display: block;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	margin: 5px 0px;
	text-align: center;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	line-height: 42px !important;
	font-size: 19px;
}

.at-go .go-btn .go-bottom {
	display: none;
}

@media (max-width: 768px) {
	.at-go .go-btn {
		bottom: 0px;
		right: 5px;
	}
}

/********************************************************
■ Bootstrap3 : 부트스트랩 기본속성
********************************************************/

/* Button */

.btn {
	font-family: 'Noto Sans', sans-serif;
}

.btn-lg {
	padding: 10px 16px;
	border-radius: 3px;
	line-height: 1.33;
	font-size: 18px;
}

.btn-lg i {
	top: 3px;
	font-size: 24px;
	position: relative;
}

.btn-xs {
	padding: 4px 10px;
}

.is-pc .ko .btn-xs, .is-pc .ko .btn-sm {
	font-family: 'Noto Sans', sans-serif;
}

/* Panel : Accordions */

.panel {
	margin-top: 60px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0px;
}

.panel-group .panel {
	border-radius: 0px;
}

.panel .panel-heading {
	border-radius: 0px;
}

.is-pc .ko .panel .panel-body {
	font-size: 12px;
}

/* List Group */

.list-group-item {
	word-break: break-all;
	border-radius: 0 !important;
}

/* Pagination */

.pagination {
	font-family: 'Noto Sans', sans-serif;
}

.pagination li a {
	border-radius: 0 !important;
	color: #333 !important;
}

.pagination li.active a {
	color: #fff !important;
	background: #444 !important;
	border-color: #444 !important;
}

/* Progress */

.progress {
	position: relative;
	border-radius: 0px;
	height: 28px;
	overflow: hidden;
	margin-bottom: 15px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	background-color: rgb(245, 245, 245);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .sr-only {
	font-family: 'Noto Sans', sans-serif;
	margin: 0px 15px;
	left: 0px;
	width: auto;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	clip: auto;
}

.sr-score {
	font-family: 'Noto Sans', sans-serif;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	padding-right: 8px;
}

/* Misc */

.form-control, .well, .btn, .alert, .input-group-addon, .label {
	border-radius: 0 !important;
}